 .black_color
{
    color: black;
}
.welcome
{
    text-align: left;
    color:black;
    font-size: 30px;
}
body{
    background-color: rgba(255,0,150,0.15);
}
.my_navbar
{
    background-color:rgb(11, 159, 196);
}
.navbar-toggle
{
     background-color:solid rgb(231, 190, 78); 
    border: 1px solid rgb(146, 223, 59);
}
.navbar-toggle .icon-bar {
    background-color: #030303;
    border: 1px solid transparent;
} 